.p-dazhuanpan-index {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
    .bg{
        position: relative; 
        width: 100%;
        overflow: hidden;
        background-repeat: no-repeat;
    }
    .bg_1{
        z-index: 1;
        height: 100%;
        background-image:url(./images/bg_1.jpg);
        background-size: 100%;
    }

    .bg_3{
        position: absolute;
        bottom: 0;
        top: 0;
        z-index: 3;
        background-image:url(./images/bg_3.png);
        background-size: 100%;
        background-position: bottom;
    }

    .owner{
        display: block;
        position: absolute;
        width: 100% * 100 / 750;
        right: 100% * 28 / 750;
        z-index: 11;
        top: 100% * 41 / 1334;
    }

    .lottery{
        position: fixed;
        width: 80%;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 6;
        background-image:url(./images/zp_bg.png);
        background-size: 100%;

        .cont{
            width: 100%;

            img{
                width: 100%;
                position: relative;
                z-index: 7;
                display: block;
            }

            .gif{
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 8;
                background: url(./images/gif.gif) no-repeat center;
                background-size: 100%;
            }

            .inner{
                position: absolute;
                z-index: 9;
                // width: 68.18%;
                // height: 68.18%;
                margin: 15.91%;
                top: 0;
                left: 0;
            }
        }
        .btn{
            width: 100%;
            height: 100%;
            margin-left: -100% * 1/ 643;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
            background: url(./images/zp_btn.png) no-repeat center;
            background-size: 100%;

            .inner{
                width: 100% * 178 / 643;
                margin-left: 100% * 2/ 643;
                position: absolute;
                display: block;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 10;
                animation-name: breath; 
                animation-duration: 2s;                         /* 动画时长3秒 */
                animation-timing-function: ease-in-out;         /* 动画速度曲线：以低速开始和结束 */
                animation-iteration-count: infinite;            /* 播放次数：无限 */
            }
            @keyframes breath {
                from {width: 100% * 158 / 643;}
                50%  {width: 100% * 178 / 643;}
                to   {width: 100% * 158 / 643;}
            }
            @-webkit-keyframes breath {
                from {width: 100% * 158 / 643;}
                50%  {width: 100% * 178 / 643;}
                to   {width: 100% * 158 / 643;}
            }
        }
        .rule{
            display: block;
            z-index: 20;
            position: absolute;
            width: 100% * 129 / 643;
            height: 100% * 129 / 643;
            bottom: 100% * 27 / 643;
            left: 100% * 27 / 643;
        }
    }
    
    // 以下为弹窗
    .model{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #000;
        opacity: .5;
        z-index: 50;
    }
    .win_rule, .win_tip, .win_owner{
        width: 100% * 620 / 750;
        background-size: 100%;
        position: fixed;
        z-index: 100;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .win_img_bg{
            display: block;
            width: 100%;
        }
        .win_close{
            display: block;
            width: 100% * 100 / 620;
            position: absolute;
            top: 0;
            right: 0;
            transform: translateY(-100%);
        }
    }
    .win_rule{
        top: 55%;
        .content{
            position: absolute;
            width: 100% * 283 / 348;
            top: 100% * 99 / 505;
            left: 100% * 33 / 348;
            color: #068fcf;
            overflow-wrap: break-word;
            word-break: break-all;
            word-wrap: break-word;

            .title{
                font-weight: 700;
                text-align: center;
                height: 100% * 27 / 505;
            }
            .detail{
                text-align: left;
            }
        }
    }
    .win_tip{
        .tip-show{
            position: absolute;
            top: 100% * 202 / 708;
            width: 100% * 418 / 620;
            height: 100% * 433 / 708;
            left: 50%;
            transform: translateX(-50%);
            background-size: 100%;

            .tip-button{
                position: absolute;
                width: 100%;
                height: 100% * 66 / 433;
                bottom: 0;
                left: 0;
            }
        }
        .status-in{
            background-image: url(./images/status-in.jpg);

            .status-in-msg{ 
                position: absolute;
                width: 100%;
                height: 100% * 40 / 433;
                text-align: center;
                color: #f95f15;
                top: 100% * 65 / 433;
                left: 0;
                font-weight: 700;
                letter-spacing: 0.3rem;
            }
        }
        .status-out{
            background-image: url(./images/status-out.jpg);
        }
        .status-un{
            background-image: url(./images/status-un.jpg);
        }
        .status-end{
            background-image: url(./images/status-end.jpg);
        }
        .status-no{
            background-image: url(./images/status-no.jpg);
        }
        .status-login{
            width: 100% * 437 / 620;
            background-image: url(./images/status-login.jpg);

            input, .code-msg{
                height: 100% * 44 / 433;
                line-height: 100% * 44 / 433;
                margin-left: 2%;
                position: absolute;
                outline: none;
                border: 0;
                left: 0;
            }
            .input-phone{
                width: 96%;
                top: 100% * 73 / 433;
            }
            .input-code{
                width: 98% * 300 / 437;
                top: 100% * 212 / 433;
            }
            .code-msg{
                top: 100% * 201 / 433;
                width: 98% * 126 / 437;
                height: 100% * 68 / 433;
                left: 98% * 310 / 437;
                line-height: 100%;
                color: #FFFFFF;

                .inner{
                    height: 100%;
                    text-align: center;
                }
            }
            .error{
                position: absolute;
                left: 0;
                top: 100% * 281 / 433;
                height: 100% * 30 / 433;
                width: 100%;

                img{
                    height: 100%; 
                    float: left; 
                }
                .msg{
                    color: #dc5251;
                    padding-left: 100% * 40 / 437;
                }
            }
        }
    }
    .win_owner{
        width: 100% * 697 / 750;

        .win_img_bg{
            border-radius: 100% * 20 / 750;
        }
        
        .win_close{
            width: 100% * 70 / 697;
            transform: translateY(10%);
        }

        .win_owner-list{
            position: absolute;
            top: 100% * 280 / 996;
            bottom: 0;
            width: 100% * 611 / 697;
            height: 100% * 716 / 996;
            overflow-y: auto;
            left: 50%;
            transform: translateX(-50%);

            .win_owner-item{
                width: 100%;
                height: 100% * 172 / 716;
                background: #cef3ff;
                // border-radius: 100% * 20 / 697;
                margin-bottom: 100% * 40 / 996;
                overflow: hidden;
                position: relative;
                
                .left, .right{
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                    height: 100% * 117 / 172;
                }
                .left{
                    width: 100% * 190 / 611;
                    border-right: 1px dashed #a1000d;
                    float: left;

                    img{
                        height: 100%;
                        left: 50%;
                        position: relative;
                        transform: translateX(-50%);
                    }
                } 

                .right{
                    padding-left: 100% * 220 / 611;
                    padding-right: 100% * 20 / 611;

                    .name{
                        line-height: 2;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }

                .model{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: #000;
                    opacity: .5;
                }

                .mark{
                    position: absolute;
                    bottom: 0;
                    z-index: 50;
                    right: 100% * 40 / 611;
                    width: 100% * 147 / 611;
                    height: 100% * 127 / 172;
                }
            }
        }
    }
}